<p>learning-plan works!</p>
<div class="container-fluid content">
    <!-- Header START -->
    <h4 class="inline-header">Learning Plans</h4>
    <div class="clearfix"></div>

    <div class="user-proj">
        <div class="nav nav-pills proj-header">
            <a href="#" class="nav-link right-border" routerLink="/learning-plans/mylearning-plans" routerLinkActive="active">My Learning Plans
            </a>
            <a href="#" class="nav-link right-border" routerLink="/learning-plans/all" routerLinkActive="active">All Learning Plans
            </a>
            <a href="#" class="nav-link" routerLink="/learning-plans/create" routerLinkActive="active">Create Learning Plans
            </a>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    
    </div>

</div>
